.h1,h2{
  text-align: center;
}


.container-fluid {
  background: url(/assets/backgrounds/h_img.jpg);
  height: 500px !important;
  background-size: cover;
  height: 100vh;
  padding: 20%;
  margin: 0%;
}



#logo{
    
    text-align: center;
    padding-bottom: 100px;
    
}

#welcome-title{

color: white;
font-family: sans-serif;
text-align: center;
padding-bottom: 100px;
} 

#mouse-click{

  text-align: center;

}

#about-us-container{

  text-align: center;
  padding: 2%;
  
}

#about-us-container h2{

margin-top: -20px;


}

#services-container{
background-image: url(/assets/backgrounds/s_image.jpg) !important;
background-repeat: no-repeat !important;
color: white;
text-align: center;
font-weight: bolder;

line-height: 50px;
padding-left: 1px;
padding-top: 1px;
padding-bottom: 1px;

}


.what{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Satisfy', cursive;
}

.Do{
  width: 400px;
}

.what p{
  display: none;
}


#what_head{
  text-align: center;
  font-family: 'Vidaloka', serif;
}


#portfolio-containe{

display: flex;
flex-wrap: wrap;
font-family:sans-serif;
}

.card-img-overlay {
display: none;
background-color: rgba(0, 0, 0, 0.7);
}

.card-img-overlay h4{
color: white;
margin: 2%;
border: 2px solid white;
height: 80%;
text-align: left;
}
.card-tittle{
color: white;
margin: 5px;
border: 2px solid white;
text-align: left;
height: 80%;
}
.card-img-overlay {
display: none;
background-color: rgba(0, 0, 0, 0.3);
}

.portfolio{
display: flex;
flex-wrap: wrap;
font-family: 'Satisfy', cursive;
}

#contact-us-container{
  background-image: url(/assets/backgrounds/c_image.jpg);
  height: 500px;
  margin-top: 20px;

}


#user-name{
  color: white;
  background: none;
  margin-left:40%;
  border-color: white;
  border-style: solid;
  border-width: thin;
}

#user-email {
  margin-right: 20%;
  border-color: white;
  border-style: solid;
  border-width: thin;
  background: none;
  color: white;
}

#user-comments{
  width: 825px;
  margin-top: 5px;
  margin-left: 19.6%;
  border-color: white;
  border-style: solid;
  border-width: thin;
  background: none;
  color: white;
}

::placeholder  {
  color: white;
  font-weight: bold;
}

#button-to-submit{
margin-left: 50%;
color: black;
}
 
#footer-container{
  margin-top: 3%;
  text-align: center;
}
#delani-footer{
  margin-top: 2%;
}